In [1]:
# import the usual suspects ...
import pandas as pd
import numpy as np
import glob

import matplotlib.pyplot as plt
import seaborn as sns

# suppress all warnings
import warnings
warnings.filterwarnings("ignore")

D:\Program Files\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
D:\Program Files\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
D:\Program Files\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# Data preprocessing

## Data Reduction & Cleaning

In [2]:
accidents = pd.read_csv("Accidents.csv")

In [3]:
accidents = accidents.drop(columns = ['1st_Road_Number','2nd_Road_Number','Did_Police_Officer_Attend_Scene_of_Accident',
                                      'Local_Authority_(Highway)','Location_Easting_OSGR','Pedestrian_Crossing-Human_Control', 
                                     'Pedestrian_Crossing-Physical_Facilities',"Local_Authority_ONS_District","Trunk_Road_Flag",
                                     'Location_Northing_OSGR','LSOA_of_Accident_Location'
                                     ])

In [4]:
df = accidents.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3122904 entries, 0 to 3122903
Data columns (total 25 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Accident_Index              object
 1   1st_Road_Class              int64
 2   2nd_Road_Class              int64
 3   Accident_Reference          object
 4   Accident_Severity           int64
 5   Carriageway_Hazards         int64
 6   Date                        object
 7   Day_of_Week                 int64
 8   Junction_Control            int64
 9   Junction_Detail             int64
 10  Latitude                    float64
 11  Light_Conditions            int64
 12  Local_Authority_(District)  int64
 13  Longitude                   float64
 14  Number_of_Casualties        int64
 15  Number_of_Vehicles          int64
 16  Police_Force                int64
 17  Road_Surface_Conditions     int64
 18  Road_Type                   int64
 19  Special_Conditions_at_Site  int64
 20  Speed_limit                 float64
 21  Time                        object
 22  Urban_or_Rural_Area         int64
 23  Weather_Conditions          int64
 24  Year                        int64
dtypes: float64(3), int64(18), object(4)
memory usage: 595.6+ MB

In [6]:
df['1st_Road_Class'] = df['1st_Road_Class'].replace(6,np.nan)
df['2nd_Road_Class'] = df['2nd_Road_Class'].replace(6,np.nan)
df['Carriageway_Hazards'] = df['Carriageway_Hazards'].replace(9,np.nan)
df['Junction_Control'] = df['Junction_Control'].replace(9,np.nan)
df['Junction_Detail'] = df['Junction_Detail'].replace(99,np.nan)
df['Light_Conditions'] = df['Light_Conditions'].replace(7,np.nan)
df['Police_Force'] = df['Road_Surface_Conditions'].replace(99,np.nan)
df['Road_Surface_Conditions'] = df['Road_Surface_Conditions'].replace(9,np.nan)
df['Road_Type'] = df['Road_Type'].replace(9,np.nan)
df['Special_Conditions_at_Site'] = df['Special_Conditions_at_Site'].replace(9,np.nan)
df['Speed_limit'] = df['Speed_limit'].replace(99,np.nan)
df['Urban_or_Rural_Area'] = df['Urban_or_Rural_Area'].replace(3,np.nan)
df['Weather_Conditions'] = df['Weather_Conditions'].replace(9,np.nan)

In [7]:
df = df.replace(-1,np.nan)

In [8]:
df.isna().sum()

Accident_Index                      0
1st_Road_Class                 938094
2nd_Road_Class                2458762
Accident_Reference                  0
Accident_Severity                   0
Carriageway_Hazards              9039
Date                                0
Day_of_Week                         0
Junction_Control              1204034
Junction_Detail                  6607
Latitude                         1153
Light_Conditions                38761
Local_Authority_(District)     101884
Longitude                        1154
Number_of_Casualties                0
Number_of_Vehicles                  0
Police_Force                     5619
Road_Surface_Conditions         11298
Road_Type                       27268
Special_Conditions_at_Site      10138
Speed_limit                       129
Time                                0
Urban_or_Rural_Area              1296
Weather_Conditions              64239
Year                                0
dtype: int64

In [9]:
df = df.drop(columns = ['2nd_Road_Class','Junction_Control'])

In [10]:
df = df.dropna()

In [11]:
df.isna().sum().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2044990 entries, 0 to 3091734
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Accident_Index              object
 1   1st_Road_Class              float64
 2   Accident_Reference          object
 3   Accident_Severity           int64
 4   Carriageway_Hazards         float64
 5   Date                        object
 6   Day_of_Week                 int64
 7   Junction_Detail             float64
 8   Latitude                    float64
 9   Light_Conditions            float64
 10  Local_Authority_(District)  float64
 11  Longitude                   float64
 12  Number_of_Casualties        int64
 13  Number_of_Vehicles          int64
 14  Police_Force                float64
 15  Road_Surface_Conditions     float64
 16  Road_Type                   float64
 17  Special_Conditions_at_Site  float64
 18  Speed_limit                 float64
 19  Time                        object
 20  Urban_or_Rural_Area         float64
 21  Weather_Conditions          float64
 22  Year                        int64
dtypes: float64(14), int64(5), object(4)
memory usage: 374.4+ MB

In [13]:
df_a = df.copy()

In [14]:
df.to_csv("Accidents_Cleaned.csv",index = None)

In [15]:
vehicles = pd.read_csv("Vehicles.csv")

In [16]:
vehicles

,Accident_Index,Accident_Reference,Age_Band_of_Driver,Age_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,Driver_IMD_Decile,Engine_Capacity_.CC.,Generic_Make_Model,Hit_Object_in_Carriageway,...,Vehicle_Direction_From,Vehicle_Direction_To,Vehicle_Leaving_Carriageway,Vehicle_Location_Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,Year,1st_Point_of_Impact
0,200201BS00001,01BS00001,7,42,-1,1,-1,-1,-1,0,...,2,2,0,0,6,1,109,-1,2002,3
1,200201BS00001,01BS00001,7,39,-1,-1,-1,-1,-1,0,...,8,4,0,0,18,2,109,-1,2002,1
2,200201BS00002,01BS00002,9,64,-1,-1,-1,-1,-1,0,...,2,6,0,0,4,1,109,-1,2002,1
3,200201BS00002,01BS00002,8,46,2,1,-1,2496,-1,0,...,2,6,0,0,18,2,109,-1,2002,1
4,200201BS00003,01BS00003,7,40,-1,1,-1,-1,-1,0,...,8,4,0,0,4,1,3,-1,2002,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5730491,2021991196607,991196607,9,61,-1,2,9,-1,-1,0,...,1,5,1,0,18,2,9,1,2021,3
5730492,2021991197944,991197944,8,51,-1,3,5,-1,-1,0,...,3,7,0,0,18,1,9,1,2021,0
5730493,2021991200639,991200639,5,24,-1,1,4,-1,-1,0,...,4,8,0,0,18,1,9,1,2021,1
5730494,2021991201030,991201030,6,28,-1,2,5,-1,-1,2,...,2,6,0,0,18,1,9,1,2021,1
5730495,2021991201030,991201030,9,58,-1,3,5,-1,-1,0,...,2,6,0,0,18,2,17,1,2021,2

In [17]:
vehicles = vehicles.drop(columns = ['Age_of_Driver','Driver_Home_Area_Type','Driver_IMD_Decile','Generic_Make_Model','LSOA_of_Driver',"Year"])

In [18]:
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5730496 entries, 0 to 5730495
Data columns (total 22 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Accident_Index                    object
 1   Accident_Reference                object
 2   Age_Band_of_Driver                int64
 3   Age_of_Vehicle                    int64
 4   Engine_Capacity_.CC.              int64
 5   Hit_Object_in_Carriageway         int64
 6   Hit_Object_off_Carriageway        int64
 7   Journey_Purpose_of_Driver         int64
 8   Junction_Location                 int64
 9   Propulsion_Code                   int64
 10  Sex_of_Driver                     int64
 11  Skidding_and_Overturning          int64
 12  Towing_and_Articulation           int64
 13  Vehicle_Direction_From            int64
 14  Vehicle_Direction_To              int64
 15  Vehicle_Leaving_Carriageway       int64
 16  Vehicle_Location_Restricted_Lane  int64
 17  Vehicle_Manoeuvre                 int64
 18  Vehicle_Reference                 int64
 19  Vehicle_Type                      int64
 20  Was_Vehicle_Left_Hand_Drive       int64
 21  1st_Point_of_Impact               int64
dtypes: int64(20), object(2)
memory usage: 961.8+ MB

In [19]:
df = vehicles.copy()

In [20]:
df['Hit_Object_in_Carriageway']= df['Hit_Object_in_Carriageway'].replace(99,np.nan)
df['Hit_Object_off_Carriageway']= df['Hit_Object_off_Carriageway'].replace(99,np.nan)
df['Journey_Purpose_of_Driver'] = df['Journey_Purpose_of_Driver'].replace(6,np.nan)
df['Journey_Purpose_of_Driver'] = df['Journey_Purpose_of_Driver'].replace(15,np.nan)
df['Junction_Location'] = df['Junction_Location'].replace(9,np.nan)
df['Skidding_and_Overturning']=df['Skidding_and_Overturning'].replace(9,np.nan)
df['Towing_and_Articulation']=df['Towing_and_Articulation'].replace(9,np.nan)
df['Vehicle_Direction_From']=df['Vehicle_Direction_From'].replace(9,np.nan)
df['Vehicle_Direction_To']=df['Vehicle_Direction_To'].replace(9,np.nan)
df['Vehicle_Leaving_Carriageway'] = df['Vehicle_Leaving_Carriageway'].replace(9,np.nan)
df['Was_Vehicle_Left_Hand_Drive'] = df['Was_Vehicle_Left_Hand_Drive'].replace(9,np.nan)
df['Vehicle_Location_Restricted_Lane'] = df['Vehicle_Location_Restricted_Lane'].replace(99,np.nan)
df['Vehicle_Manoeuvre'] = df['Vehicle_Manoeuvre'].replace(9,np.nan)
df['Vehicle_Type'] = df['Vehicle_Type'].replace(99,np.nan)
df['1st_Point_of_Impact'] = df['1st_Point_of_Impact'].replace(9,np.nan)

In [21]:
df = df.replace(-1,np.nan)

In [22]:
df.isna().sum()

Accident_Index                            0
Accident_Reference                        0
Age_Band_of_Driver                   656452
Age_of_Vehicle                      1559577
Engine_Capacity_.CC.                1492817
Hit_Object_in_Carriageway             59548
Hit_Object_off_Carriageway            54095
Journey_Purpose_of_Driver           4316065
Junction_Location                   1233123
Propulsion_Code                     1456256
Sex_of_Driver                           115
Skidding_and_Overturning              60429
Towing_and_Articulation               24172
Vehicle_Direction_From                82611
Vehicle_Direction_To                  85837
Vehicle_Leaving_Carriageway           58346
Vehicle_Location_Restricted_Lane      57817
Vehicle_Manoeuvre                    555484
Vehicle_Reference                         0
Vehicle_Type                           2133
Was_Vehicle_Left_Hand_Drive         1252874
1st_Point_of_Impact                   52160
dtype: int64

In [23]:
df = df.drop(columns=['Journey_Purpose_of_Driver'])

In [24]:
df = df.dropna()

In [25]:
df.isna().sum().sum()

0

In [26]:
df_v = df.copy()

In [27]:
df.to_csv("Vehicles_Cleaned.csv",index = None)

In [28]:
casualties = pd.read_csv("Casualties.csv")

In [29]:
casualties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4186886 entries, 0 to 4186885
Data columns (total 19 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Accident_Index                      object
 1   Accident_Reference                  object
 2   Age_Band_of_Casualty                int64
 3   Age_of_Casualty                     int64
 4   Bus_or_Coach_Passenger              int64
 5   Car_Passenger                       int64
 6   Casualty_Class                      int64
 7   Casualty_Home_Area_Type             int64
 8   Casualty_IMD_Decile                 int64
 9   Casualty_Reference                  int64
 10  Casualty_Severity                   int64
 11  Casualty_Type                       int64
 12  LSOA_of_Casualty                    object
 13  Pedestrian_Location                 int64
 14  Pedestrian_Movement                 int64
 15  Pedestrian_Road_Maintenance_Worker  int64
 16  Sex_of_Casualty                     int64
 17  Vehicle_Reference                   int64
 18  Year                                object
dtypes: int64(15), object(4)
memory usage: 606.9+ MB

In [30]:
casualties = casualties.drop(columns = ['Age_of_Casualty','Casualty_Home_Area_Type','Casualty_IMD_Decile','LSOA_of_Casualty','Year'])

In [31]:
df = casualties.copy()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4186886 entries, 0 to 4186885
Data columns (total 14 columns):
 #   Column                              Dtype
---  ------                              -----
 0   Accident_Index                      object
 1   Accident_Reference                  object
 2   Age_Band_of_Casualty                int64
 3   Bus_or_Coach_Passenger              int64
 4   Car_Passenger                       int64
 5   Casualty_Class                      int64
 6   Casualty_Reference                  int64
 7   Casualty_Severity                   int64
 8   Casualty_Type                       int64
 9   Pedestrian_Location                 int64
 10  Pedestrian_Movement                 int64
 11  Pedestrian_Road_Maintenance_Worker  int64
 12  Sex_of_Casualty                     int64
 13  Vehicle_Reference                   int64
dtypes: int64(12), object(2)
memory usage: 447.2+ MB

In [33]:
df['Bus_or_Coach_Passenger'] = df['Bus_or_Coach_Passenger'].replace(9,np.nan)
df['Car_Passenger'] = df['Car_Passenger'].replace(9,np.nan)
df['Casualty_Type'] = df['Casualty_Type'].replace(99,np.nan)
df['Pedestrian_Location'] = df['Pedestrian_Location'].replace(10,np.nan)
df['Pedestrian_Movement'] = df['Pedestrian_Movement'].replace(9,np.nan)
df['Pedestrian_Road_Maintenance_Worker'] = df['Pedestrian_Road_Maintenance_Worker'].replace(2,np.nan)
df['Sex_of_Casualty'] = df['Sex_of_Casualty'].replace(9,np.nan)

In [34]:
df = df.replace(-1,np.nan)

In [35]:
df.isna().sum()

Accident_Index                             0
Accident_Reference                         0
Age_Band_of_Casualty                   88237
Bus_or_Coach_Passenger                   373
Car_Passenger                           4062
Casualty_Class                             0
Casualty_Reference                         0
Casualty_Severity                          0
Casualty_Type                             16
Pedestrian_Location                    37207
Pedestrian_Movement                   112236
Pedestrian_Road_Maintenance_Worker    982681
Sex_of_Casualty                         3837
Vehicle_Reference                          0
dtype: int64

In [36]:
df = df.drop(columns = ['Pedestrian_Road_Maintenance_Worker'])

In [37]:
df = df.dropna()

In [38]:
df_c = df.copy()

In [39]:
df.to_csv("Casualties_Cleaned.csv",index = None)

In [40]:
df = pd.merge(df_a, df_v, how='inner', on=['Accident_Index','Accident_Reference'])

In [41]:
df = pd.merge(df,df_c,how='inner', on=['Accident_Index','Accident_Reference','Vehicle_Reference'])

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1425558 entries, 0 to 1425557
Data columns (total 52 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Accident_Index                    1425558 non-null  object
 1   1st_Road_Class                    1425558 non-null  float64
 2   Accident_Reference                1425558 non-null  object
 3   Accident_Severity                 1425558 non-null  int64
 4   Carriageway_Hazards               1425558 non-null  float64
 5   Date                              1425558 non-null  object
 6   Day_of_Week                       1425558 non-null  int64
 7   Junction_Detail                   1425558 non-null  float64
 8   Latitude                          1425558 non-null  float64
 9   Light_Conditions                  1425558 non-null  float64
 10  Local_Authority_(District)        1425558 non-null  float64
 11  Longitude                         1425558 non-null  float64
 12  Number_of_Casualties              1425558 non-null  int64
 13  Number_of_Vehicles                1425558 non-null  int64
 14  Police_Force                      1425558 non-null  float64
 15  Road_Surface_Conditions           1425558 non-null  float64
 16  Road_Type                         1425558 non-null  float64
 17  Special_Conditions_at_Site        1425558 non-null  float64
 18  Speed_limit                       1425558 non-null  float64
 19  Time                              1425558 non-null  object
 20  Urban_or_Rural_Area               1425558 non-null  float64
 21  Weather_Conditions                1425558 non-null  float64
 22  Year                              1425558 non-null  int64
 23  Age_Band_of_Driver                1425558 non-null  float64
 24  Age_of_Vehicle                    1425558 non-null  float64
 25  Engine_Capacity_.CC.              1425558 non-null  float64
 26  Hit_Object_in_Carriageway         1425558 non-null  float64
 27  Hit_Object_off_Carriageway        1425558 non-null  float64
 28  Junction_Location                 1425558 non-null  float64
 29  Propulsion_Code                   1425558 non-null  float64
 30  Sex_of_Driver                     1425558 non-null  float64
 31  Skidding_and_Overturning          1425558 non-null  float64
 32  Towing_and_Articulation           1425558 non-null  float64
 33  Vehicle_Direction_From            1425558 non-null  float64
 34  Vehicle_Direction_To              1425558 non-null  float64
 35  Vehicle_Leaving_Carriageway       1425558 non-null  float64
 36  Vehicle_Location_Restricted_Lane  1425558 non-null  float64
 37  Vehicle_Manoeuvre                 1425558 non-null  float64
 38  Vehicle_Reference                 1425558 non-null  int64
 39  Vehicle_Type                      1425558 non-null  float64
 40  Was_Vehicle_Left_Hand_Drive       1425558 non-null  float64
 41  1st_Point_of_Impact               1425558 non-null  float64
 42  Age_Band_of_Casualty              1425558 non-null  float64
 43  Bus_or_Coach_Passenger            1425558 non-null  float64
 44  Car_Passenger                     1425558 non-null  float64
 45  Casualty_Class                    1425558 non-null  int64
 46  Casualty_Reference                1425558 non-null  int64
 47  Casualty_Severity                 1425558 non-null  int64
 48  Casualty_Type                     1425558 non-null  float64
 49  Pedestrian_Location               1425558 non-null  float64
 50  Pedestrian_Movement               1425558 non-null  float64
 51  Sex_of_Casualty                   1425558 non-null  float64
dtypes: float64(39), int64(9), object(4)
memory usage: 576.4+ MB

In [43]:
df = df.drop(columns = ['Accident_Reference','Vehicle_Reference','Casualty_Reference'])

## Data Transformation

###  Handling Date and Time

In [44]:
df['Date']= pd.to_datetime(df['Date'], format="%d/%m/%Y")
df['Date'].tail()

1425553   2021-03-28
1425554   2021-03-12
1425555   2021-01-04
1425556   2021-03-15
1425557   2021-03-15
Name: Date, dtype: datetime64[ns]

In [45]:
# slice first and second string from time column
df['Hour'] = df['Time'].str[0:2]

# convert new column to numeric datetype
df['Hour'] = pd.to_numeric(df['Hour'])

# drop null values in our new column
df = df.dropna(subset=['Hour'])

# cast to integer values
df['Hour'] = df['Hour'].astype('int')

Next, let's define a new column that groups the Time the accidents happened into one of five options:

* Morning Rush from 5am to 10am --> value 1
* Office Hours from 10am to 3pm (or: 10:00 - 15:00) --> value 2
* Afternoon Rush from 3pm to 7pm (or: 15:00 - 19:00) --> value 3
* Evening from 7pm to 11pm (or: 19:00 - 23:00) --> value 4
* Night from 11pm to 5am (or: 23:00 - 05:00) --> value 5

In [46]:
# define a function that turns the hours into daytime groups
def when_was_it(hour):
    if hour >= 5 and hour < 10:
        return "1"
    elif hour >= 10 and hour < 15:
        return "2"
    elif hour >= 15 and hour < 19:
        return "3"
    elif hour >= 19 and hour < 23:
        return "4"
    else:
        return "5"

In [47]:
# create a little dictionary to later look up the groups I created
daytime_groups = {1: 'Morning: Between 5 and 10', 
                  2: 'Office Hours: Between 10 and 15', 
                  3: 'Afternoon Rush: Between 15 and 19', 
                  4: 'Evening: Between 19 and 23', 
                  5: 'Night: Between 23 and 5'}

In [48]:
# apply this function to our temporary hour column
df['Daytime'] = df['Hour'].apply(when_was_it)
df[['Time', 'Hour', 'Daytime']].head()

    Time  Hour Daytime
0  17:36    17       3
1  00:15     0       5
2  10:35    10       2
3  22:43    22       4
4  00:42     0       5

In [49]:
# drop old time column and temporary hour column
df = df.drop(columns=['Time', 'Hour'])

In [50]:
df.to_csv("Merged_data.csv",index=None)